go 1.21.6

use ./Software/Print_Server_Software/printserver

use ./Software/Print_Server_Software/clientinfo

use ./Software/Print_Server_Software/label

use ./Software/Report_Creator_Software/debug

use ./Software/Report_Creator_Software/sheet

use ./Software/Print_Server_Software/printconfig
